.popup {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
}
.box-pop {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 600px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}
.title-pop {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    width: 100%;
    height: 15%;
    justify-content: space-between;
    align-items: center;
    background-color: #ede6ff;
}
.title-pop p {
    margin-left: 30px;
    color: black;
    font-weight: bold;
    font-size: 30px;
}
.content-pop-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    gap: 10px;
    background-color: white;
}
.container-pop {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.container-pop input {
    display: flex;
    width: 550px;
    height: 40px;
    font-size: 26px;
}
.title-container {
    display: flex;
    width: 350px;
    height: 100%;
    align-items: center;
    background-color: #ede6ff;
}
.title-container p {
    margin-left: 30px;
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.close-pop {
    display: flex;
    margin-right: 20px;
    font-size: 30px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}

.close-pop:hover {
    color: red;
}
.line-style {
    display: flex;
    margin: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(
      to right,
      #6aa2ff,
      #b987ff,
      #ff9ad5,
      #6aa2ff
    );
}
.box-button {
    display: flex;
    margin-top: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.b1 {
    display: flex;
    width: 250px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.b1 p {
    font-size: 20px;
}

.bgc1 {background-color: white; border: 1px solid black; color: black;}
.bgc2 {background-color: #796eff; border: 1px solid #4938ff; color: white;}