
.main-content-about-page1 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 40px;
    background-image: url("../uma musume web try-to-do/Screenshot\ 2025-12-29\ 175832.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container-about-page1 {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 700px;
    margin-top: 300px;
    margin-left: 150px;
    justify-content: center;
    align-items: flex-start;
}
.container-about-page1 p {
    color: black;
    font-weight: bold;
    font-size: 28px;
    padding: 15px 40px;
    background-color: white;
}