.content-of-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-image: url("/game-website-practice/uma musume web try-to-do/dab4466c-dbb0-4ffd-831a-0db48ec1a3a4.jpg");
}
.left-content {
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
}
.img-content-left {
    position: relative;
    display: flex;
    width: 100%;
    height: 900px;
    overflow: hidden;
}
.img-content-left img {
    position: absolute;
    left: -120px;
    width: 100%;
    height: 150%;
    object-fit: cover;
    object-position: left bottom;
}



.right-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    justify-content: start;
    align-items: flex-start;
}
.topic-content {
    display: flex;
    margin-top: 230px;
    margin-left: 35px;
    width: 280px;
    height: 70px;
    justify-content: start;
    align-items: center ;
    background-color: white;
}
.topic-content p {
    font-size: 26px;
    font-weight: bold;
    color: palevioletred;
}
.p-content {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    width: 90%;
    height: 200px;
    /* background-color: antiquewhite; */
}
.p-content p {
    font-size: 20px;
    
    margin: 0;
    margin-top: 20px;
    /* line-height: 2.3; */
    color: white;
}
.wrap-content {
    display: flex;
    margin-left: 35px;
    margin-top: 50px;
    width: 300px;
    height: auto;
    /* background-color: aqua; */

    font-size: 22px;
    color: white;
    font-style: italic;
    font-weight: bold;
}
.wrap-content:hover {
    opacity: 0.7;
}