body {
    padding: 0;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}
.layout-anime-page {
    display: flex;
    width: 100%;
    background-color: blue;
}
.video-animepage {
    position: relative;
    display: flex;
    width: 100%;
    background-color: black;
}
.video-animepage video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.topic-animepage {
    position: absolute;
    bottom: 50px;
    left: 50px;
    display: flex;
    width: 400px;
    height: 80px;
    justify-content: center;
    align-items: center;
    transform: skewX(-15deg);
    background-color: #727F92;
}
.topic-animepage p {
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.path-animepage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70px;
}
.content-path-animepage {
    display: flex;
    margin-top: 20px;
    margin-left: 120px;
    width: 500px;
    height: 100%;
    gap: 10px;
    align-items: center;
}
.content-path-animepage a {
    text-decoration: none;
    color: gray;
}
.content-path-animepage p {
    color: gray;
}
.content-path-animepage a:last-child {
    color: black;
    text-decoration: underline;
}

.layout-content-animepage-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.list-content-animepage {
    display: grid;
    margin-top: 25px;
    grid-template-columns: repeat(3, auto);
    gap: 40px;
    justify-content: center;
    /* background-color: aqua; */
}
.list-content-animepage a {
    text-decoration: none;
}
.box-container-anime {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 380px;
    align-items: center;
    border: 3px solid silver;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease;
    background-color: white;
}
.box-container-anime:hover {
    opacity: 0.5;
    /* transform: scale(1.1); */
}
.banner-list {
    display: flex;
    margin-top: 5%;
    width: 90%;
    height: 70%;
}
.banner-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
}
.text-list p {
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.line-list {
    display: flex;
    overflow: hidden;
    /* margin-top: 10px; */
    height: 5%;
    width: 100%;
}
.line-list img {
    margin-top: -5px;
    width: 100%;
    object-fit: cover;
}

/* .testttt2 {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
} */

.layout-button-bot-anime {
    display: flex;
    height: 280px;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}
.layout-button-bot-anime a {
    text-decoration: none;
}
.button-banime {
    display: flex;
    width: 1300px;
    height: 150px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    background-color: #727F92;
}
.button-banime p {
    color: white;
    font-weight: bold;
    font-size: 35px;
}
.button-banime:hover {
    transform: scale(0.95);
}