body {
    padding: 0;
    margin: 0;

    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2eeff;
}

.layout-content-comics {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}
.main-comics {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}
.video-content-comics {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
}
.video-topic-comics {
    position: absolute;
    left: 60px;
    bottom: 40px;
    display: flex;
    width: 450px;
    height: 80px;
    justify-content: center;
    align-items: center;
    transform: skewX(-15deg);
    background-color: gray;
}
.video-topic-comics p {
    color: white;
    font-weight: bold;
    font-size: 40px;
}
.path-content-comics {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
}
.path-container {
    display: flex;
    margin-left: 150px;
    width: auto;
    height: 100%;
    align-items: center;
    gap: 10px;
}
.path-container a {
    color: black;
    opacity: 0.5;
    text-decoration: none;
}
.path-container a:last-child {
    color: black;
    opacity: 1;
    text-decoration: underline;
}
.comics-contents {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* content1 */
.content1-comics {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content1-comics img {
    width: 100%;
    height: 100%;
}
.title-content1 {
    position: absolute;
    bottom: 200px;
    left: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 100px;
    background-color: red;
    transform: skewX(-15deg);
}
.title-content1 p {
    color: white;
    transform: skewX(15deg);
    margin: 2px;
}
.button-content1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    display: flex;
    border-radius: 50px;
    width: 500px;
    height: 55px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    background-color: red;
}
.button-content1 p {
    color: white;
}
.button-content1:hover {
    transform: translateX(-50%) scale(1.1);
}

/* content2 */
.content2-comics {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content2-comics img {
    width: 100%;
    height: 100%;
}
.title-content2 {
    position: absolute;
    bottom: 215px;
    right: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 550px;
    height: 100px;
    background-color: orange;
    transform: skewX(15deg);
}
.title-content2 p {
    color: white;
    transform: skewX(-15deg);
    margin: 2px;
    margin-left: 70px;
}
.button-content2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    display: flex;
    border-radius: 50px;
    width: 500px;
    height: 55px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    background-color: orange;
}
.button-content2 p {
    color: white;
}
.button-content2:hover {
    transform: translateX(-50%) scale(1.1);
}

/* content3 */
.content3-comics {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content3-comics img {
    width: 100%;
    height: 100%;
}
.title-content3 {
    position: absolute;
    bottom: 250px;
    left: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 550px;
    height: 130px;
    background-color: #E4287C;
    transform: skewX(-15deg);
}
.title-content3 p {
    color: white;
    transform: skewX(15deg);
    margin: 2px;
    margin-left: 60px;
}
.button-content3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    display: flex;
    border-radius: 50px;
    width: 500px;
    height: 55px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    background-color: 	#E4287C;
}
.button-content3 p {
    color: white;
}
.button-content3:hover {
    transform: translateX(-50%) scale(1.1);
}

/* content4 */
.content4-comics {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content4-comics img {
    width: 100%;
    height: 100%;
}
.title-content4 {
    position: absolute;
    bottom: 225px;
    right: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 600px;
    height: 100px;
    background-color: blue;
    transform: skewX(15deg);
}
.title-content4 p {
    color: white;
    transform: skewX(-15deg);
    margin: 1px;
    margin-left: 30px;
}
.button-content4 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    display: flex;
    border-radius: 50px;
    width: 500px;
    height: 55px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    background-color: blue;
}
.button-content4 p {
    color: white;
}
.button-content4:hover {
    transform: translateX(-50%) scale(1.1);
}

.banner-starting-gate {
    display: flex;
    margin-top: 90px;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: flex-end;
}
.banner-comics {
    display: flex;
    width: 700px;
    height: 250px;
    transition: transform 0.3s ease;
}
.banner-comics img {
    width: 100%;
    height: 100%;
}
.banner-comics:hover {
    transform: scale(0.95);
}