.layout-contentstoppage {
    display: flex;
    width: 100%;
    height: 1000px;
}
.main-contentstop {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    width: 100%;
    height: 97%;
}
.left-contentstop {
    display: flex;
    width: 70%;
    height: 100%;
    overflow: hidden;
    border: 1px solid silver;
    border-radius: 10px;
}
.left-contentstop video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.topic-left-contents {
    position: absolute;
    display: flex;
    top: -50px;
    left: 50px;
    width: 600px;
    height: 100px;
    justify-content: center;
    align-items: center;
    transform: skewX(-15deg);
    background-color: skyblue;
}
.topic-left-contents p {
    color: white;
    font-weight: bold;
    font-size: 50px;
    transform: skewX(15deg);
}
.name-left-contents {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 500px;
    height: 200px;
    left: 30px;
    bottom: 50px;
    justify-content: center;
    align-items: flex-start;
}
.name-left-contents p:first-child {
    margin: 1px;
    margin-left: 100px;
    color: white;
    font-weight: bold;
    font-size: 60px;
    transform: skewX(-15deg);
}
.name-left-contents p:last-child {
    color: white;
    margin: 1px;
    margin-left: 100px;
    font-size: 40px;
    font-weight: bold;
    transform: skewX(-15deg);
}
.active2 {
    display: flex;
}
.right-contentstop {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 95%;
    align-items: flex-end;    
    gap: 10px;
}
.right-contentstop a {
    text-decoration: none;
}
.container-right-contentstop {
    display: flex;
    flex-direction: column;
    width: 530px;
    height: 160px;
    justify-content: center;
    border: 1px solid silver;
    border-radius: 10px;
    transition: transform 0.3s ease;
    background-color: white;
}

.container-right-contentstop p:first-child {
    color: black;
    font-size: 50px;
    font-weight: bold;
}
.container-right-contentstop p:last-child {
    color: black;
    font-size: 26px;
}
.container-right-contentstop p {
    margin: 0;
    margin-left: 40px;
}
.container-right-contentstop:hover {
    transform: scale(0.95);
}

.active {
    background-color: red;
}
.container-right-contentstop.active p {
    color: white;
}