body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.layout-page-content {
    display: flex;
    width: 100%;
}
.video-content-event {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
}
.video-content-event video {
    width: 100%;
    height: 100%;
}
.video-topic-content {
    position: absolute;
    bottom: 50px;
    left: 50px;
    display: flex;
    width: 400px;
    height: 80px;
    justify-content: center;
    align-items: center;
    transform: skewX(-15deg);
    background-color: #727F92;
}
.video-topic-content p {
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.path-content-event {
    display: flex;
    width: 100%;
    height: 70px;
}
.path-content {
    display: flex;
    margin-top: 20px;
    margin-left: 160px;
    height: 100%;
    width: 500px;
    gap: 10px;
    align-items: center;
}
.path-content a {
    color: #727F92;
    text-decoration: none;
}
.path-content p {
    color: #727F92;
}
.path-content a:last-child {
    color: black;
    text-decoration: underline;
}

.list-content-event {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    column-gap: 40px;
    row-gap: 70px;
}
.list-content-event a {
    text-decoration: none;
}
.content-list-container {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 450px;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    transition: transform 0.3s ease;
    background-color: white;
}
.part1 {
    display: flex;
    width: 90%;
    height: 70%;
    /* background-color: aquamarine; */
}
.part1 img {
    width: 100%;
    height: 100%;
}
.part2 {
    display: flex;
}
.part2 img {
    width: 100%;
    height: 100%;
}
.part3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}
.part3 p {
    color: black;
    font-size: 19px;
    margin: 5px;
}
.content-list-container:hover {
    opacity: 0.5;
}

.blu-ray-dvd {
    display: flex;
    height: 280px;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}
.blu-ray-content {
    display: flex;
    width: 1300px;
    height: 150px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    background-color: #727F92;
}
.blu-ray-content p {
    color: white;
    font-weight: bold;
    font-size: 35px;
}
.blu-ray-content:hover {
    transform: scale(0.95);
}
